{% load bootstrap4 %}
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">
    <title>{% block title %}Main page{% endblock %} - Bulletin board</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    {% bootstrap_javascript jquery='slim' %}
</head>
<body class="container-fluid">
    <header class="mЬ-4 ">
        <h1 class="display-1 text-center">Bulletin board</h1>
    </header>
    <div class="row">
        <ul class="col nav justify-content-end border">
            <li class="nav-item"><a class="nav-link" href="{% url 'main:register' %}"
                                    name="register">Registration</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'main:profile' %}">My ads</a>
                    <a class="dropdown-item" href="#">
                        Change personal info</a>
                    <a class="dropdown-item" href="#">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-itern" href="{% url 'main:logout' %}">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Delete</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'main:login' %}" name="login">
                Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <nav class="col-md-auto nav flex-column border">
            <a class="nav-link root" href="{% url 'main:index' %}">Main page</a>
            {% for rubric in rubrics %}
            <a class="nav-link root" href="{{ 'rubrics' }}/{{ rubric.name }}/">{{ rubric.name }}</a>
            {% endfor %}
            <a class="nav-link root" href="{% url 'main:about' %}">About</a>
        </nav>
        <section class="col border ру-2">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
        </section>
    </div>
    <footer class="mt-3">
        <p class="text-right font-italic">&copy; users.</p>
    </footer>
</body>
</html>