{% extends "layout/basic.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}{{ current_rubric.name }}{% endblock %}
{% block content %}
<h2 class="mb-2">{{ current_rubric.name }}</h2>
<ul class="list-unstyled">
    {% for ad in ads %}
    <li class="media my-5 р-3 border">
        <div class="media-body">
            <h3><a href="{{ ad.pk }}/">{{ ad.title }}</a></h3>
            <div>{{ ad.content }}</div>
            <p class="text-right font-weight-bold">{{ ad.price }}</p>
            <p class="text-right font-italic">{{ ad.published }}</p>
            <p class="text-right font-italic">{{ ad.author.first_name }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}