{% extends "layout/basic.html" %}
{% block script %}
{% verbatim %}
<script type="module">

    window.component = {

        created() {
            this.fetchData()
        },

        data() {

            return {
                data: [{title: 'title', content: 'content', price: '1'}]
            }
        },
        methods: {
            fetchData() {
                axios.get('/api/ads/')
                    .then((dataresp) => {
                        this.data = dataresp.data;
                    })
                    .catch(error => {
                        console.log('Error: ', error);
                    })
            }
        },
        template: `
<div>
<h1>Ads</h1>
</div>
<div v-for="ad in data">
<h2><a class="link" href="#">{{ ad.title }}</a></h2>
<p>{{ ad.content }}</p>
<p class="font-weight-bold">{{ ad.price }} $</p>

</div>`
    }
</script>
{% endverbatim %}
{% endblock %}