{% extends "layout/basic.html" %}

{% block script %}
{% verbatim %}
<script type="module">

    window.component = {

        created() {
            this.fetchData()
        },

        data() {

            return {
                data: [{name: 'test1'}, {name: 'test2'}]
            }
        },
        methods: {
            fetchData() {
                axios.get('/api/rubric/')
                    .then((dataresp) => {
                        this.data = dataresp.data;
                    })
                    .catch(error => {
                        console.log('Error: ', error);
                    })
            }
        },
        template: `
<div>
<h1>Ads</h1>
</div>
<div v-for="item in data">

<a class="nav-link root" href="/{{ item.name }}/">{{ item.name }}</a>
</div>`
    }
</script>
{% endverbatim %}
{% endblock %}