{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block content %}
<h2>Ads</h2>
{% for ad in ads %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <h2><a class="link" href="/{{ ad.rubric }}/{{ ad.pk }}/">{{ ad.title }}</a></h2>
            <p>{{ ad.content }}</p>
            <p class="font-weight-bold">{{ ad.price }} $</p>
            <p class="text-right font-italic">Added{{ ad.published|date:"d.m.Y H:i:s" }}
                - {{ ad.author.first_name }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}