{% extends "layout/basic.html" %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>
{% else %}
<p>Здравствуйте!</p>
{% endif %}
<p><a class="nav-link" href="{% url 'main:profile_new_ad' %}" name='profile_new_ad'>New ad</a></p>
{% for ad in ads %}
<div class="col">
    <h2><a class="link" href="/{{ ad.rubric }}/{{ ad.pk }}/{{ 'show' }}/">{{ ad.title }}</a></h2>
    <p>{{ ad.content }}</p>
    <p class="font-weight-bold">{{ ad.price }} $</p>
    <p>{{ ad.author.first_name }}</p>
    <p>{{ ad.published|date:"d.m.Y H:i:s" }}</p>
</div>
{% endfor %}
{% endblock %}